---
import MainLayout from "./main.astro";

const { content } = Astro.props;
---

<MainLayout content={content}>
  <div class="prose font-serif mx-auto !max-w-3xl text-xl">
    <slot />
  </div>
</MainLayout>
